// Body
$body-bg: #f0f0f7;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main1: #446ff2;
$main2: #2344a8;
$main3: #18a2e9;

$white1: #eef1f4;
$white2: #f4f6ff;

$danger: #d90404;


// Breakpoints
$tablet: 768px;
$desktop: 1024px;
